* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
  padding: 20px;
  background-color: #FEFCE8;

  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

#infoUsers {
  color: #895610;
}

#form {
  border: 1px solid #FEE685;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  width: 100%;
  height: 35px;
  padding: 8px;
  border: 1px solid #D1D5DC;
  border-radius: 5px;
}

.addUser{
  margin-bottom: 20px;
}

.input-group {
  position: relative;
  width: 100%;
}

.input-group input {
  padding-left: 40px;
}

.input-group .icon {
  position: absolute;
  left: 12px;
  top: 50%;
  color: grey;
  transform: translateY(-50%);
  font-size: 18px;
  pointer-events: none;
}

.removeUser {
  background-color: rgba(255, 0, 0, 0.648);
  color: white;
}

.removeUser:hover {
  background-color: rgba(255, 0, 0, 0.836);
  color: black;
}

button {
  height: 35px;
  border-radius: 6px;
  border: 1px solid #FEE685;
  background-color: #FEF3C7;
  cursor: pointer;
  font-weight: 500;
}

button:hover {
  background-color: #FDE68A;
}

#addBnt {
  background-color: #ffb760 ;
}

#addBnt:hover {
  background-color: #ffdf60;
}

.UsersList {
  margin-top: 30px;
  width: 100%;
  max-width: 1000px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background-color: #ffffff;
  border: 1px solid #FEE685;
  border-radius: 10px;
  padding: 15px;
}

.card:hover {
  background-color: #ffb760;
}

.user-details {
  display: none;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;         
  padding: 20px;
  background-color: #FEE685;
  border-radius: 12px;
  border: 2px solid #ffb760;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.user-details h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  color: #92400E;
}

.user-details p {
  margin: 5px 0;
  font-size: 16px;
}

.filters {
  display: flex;
  justify-content: center;
}

.filterBnt {
  margin: 10px 10px;
  width: 270px;
}

#information {
  text-align: center;
}

#filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin: 20px auto;
  background-color: #ffffff;
  border: 1px solid #FEE685;
  border-radius: 12px;
  padding: 20px 30px;
  flex-wrap: wrap;
}

#filter h3 {
  margin: 0;
  font-size: 18px;
  color: #A16207;
}

@media (max-width: 500px) {
  #form {
    padding: 15px;
  }

  body {
    padding: 10px;
  }
}
